@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
}

[data-theme=light],
:root:not([data-theme=dark]) {
    --nav-background-color: rgba(255, 255, 255, 0.7);
    --nav-border-color: rgba(115, 130, 140, 0.2);

    /* home page hero */
    --grad-color-1: #FFCFEA;
    --grad-color-2: #FEFFBE;
    --grad-color-3: #CBFFE6;
    --grad-color-4: #AFE9FF;
    --grad-color-5: #BFB9FF;
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme=light]) {
        --nav-background-color: rgba(16, 24, 30, 0.8);
        --nav-border-color: rgba(115, 130, 140, 0.2);

        /* home page hero */
        --grad-color-1: #281533;
        --grad-color-2: #1D1533;
        --grad-color-3: #07080F;
        --grad-color-4: #152433;
        --grad-color-5: #152F33;
    }
}

[data-theme=dark] {
    --nav-background-color: rgba(16, 24, 30, 0.8);
    --nav-border-color: rgba(115, 130, 140, 0.2);

    /* home page hero */
    --grad-color-1: #281533;
    --grad-color-2: #1D1533;
    --grad-color-3: #07080F;
    --grad-color-4: #152433;
    --grad-color-5: #152F33;
}

/* Hero element */
.hero {
    background: linear-gradient(-45deg, var(--grad-color-1), var(--grad-color-2), var(--grad-color-3), var(--grad-color-4), var(--grad-color-5));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding: 4rem 0 5rem;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.hero+.hero-fade {
    margin-top: -7rem;
    height: 7rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), var(--background-color));
}

.hero {
    text-align: center;
}

.hero h1 {
    margin-bottom: 0.4rem;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Space Mono', monospace;
}

.hero h2 {
    font-weight: 100;
    font-size: 1.5rem;
}
section.links {
    margin-top: -6rem;
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: 0.8rem;
}
.gradio-heading,
.gradio-sub-heading {
    display: none;
}