[tool.poetry]
name = "moondream"
version = "0.0.5"
description = "Python client library for moondream"
authors = ["vik <vik@moondream.ai>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
pillow = "^10.4.0"
onnxruntime = "^1.19.2"
numpy = "^2.1.2"
onnx = "^1.17.0"
tokenizers = "^0.20.1"

[tool.poetry.scripts]
moondream = "moondream.cli:main"

[tool.pyright]
venvPath = "."
venv = ".venv"
reportMissingParameterType = false

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
